body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-image: url('image/wind.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white; 
}

.profile {
    border: 1px solid black; 
}

.interest {
    border: 1px solid black; 
}


.profile {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-image {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

.interests {
    display: flex;
}

.interest {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}
